<html>
  <head>
    <title>AngularJS Example</title>
    <script src = "angular.min.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <style>
      .btn-block1{
        width: 125px !important;
      }
    </style>
  </head>
  <body ng-app = "" ng-init="clickable='nothing clicked'">
    <center><h1><i>CampusBot</i></h1></center>
    <button ng-href="#" ng-click="size='200px'">A</button>
    <div class ="row">
      <div class = "col-sm-3"></div>
      <div class = "col-sm-5">
          <nav class="{{show_box}}" ng-click="$event.preventDefaults()">
            <br/><br/> <br/> <br/>
            <button href="#" class="btn btn-info btn-block1" ng-click="clickable='Class'">Find a Class</button>
      </div>
      <div class = "col-sm-4">
            <br/><br/> <br/> <br/>
            <button href="#" class="btn btn-info btn-block1" ng-click="clickable='Professor'">Find a Professor</button>
      </div>
    </div>
    <center><p ng-bind="clickable" font-size={{size}}></p></center>
    <div class = "row">
      <div class = "col-sm-3"></div>
      <div class = "col-sm-5">
            <br/><br/> <br/> <br/>
            <button href="#" class="btn btn-info btn-block1" ng-click="clickable='Service'">Find a Service</button>
      </div>
      <div class="col-sm-4">
            <br/><br/> <br/> <br/>
            <button href="#" class="btn btn-info btn-block1" ng-click="clickable='Food'">Order Food</button>
      </div>
          </nav>
        </div>
      </div>
    </div>

  </body>
</html>
