<html>
  <head>
    <title>AngularJS Example</title>
    <script src = "angular.min.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <style>
      .btn-block1{
        width: 125px !important;
      }
    </style>
  </head>
  <body ng-app="kiosk" ng-controller = "kioskController" ng-init="clickable='Welcome To CampusBot';class_button=false;text1='blah'">
    <center><h1><i>CampusBot</i></h1></center>
    <div class ="row">
      <div class = "col-sm-3"></div>
      <div class = "col-sm-5">
          <nav>
            <br/><br/> <br/> <br/>
            <div>
              <button href="#" class="btn btn-info btn-block1" ng-click="clickable='Class';class_button=true;text1='Class ID'">{{text1}}</button>
            </div>
      </div>
      <div class = "col-sm-4">
            <br/><br/> <br/> <br/>
            <button href="#" class="btn btn-info btn-block1" ng-click="clickable='Professor'">Find a Professor</button>
      </div>
    </div>
    <center><p ng-bind="clickable"></p></center>
    <div class = "row">
      <div class = "col-sm-3"></div>
      <div class = "col-sm-5">
            <br/><br/> <br/> <br/>
            <button href="#" class="btn btn-info btn-block1" ng-click="clickable='Service'">Find a Service</button>
      </div>
      <div class="col-sm-4">
            <br/><br/> <br/> <br/>
            <button href="#" class="btn btn-info btn-block1" ng-click="clickable='Food'">Order Food</button>
      </div>
          </nav>
        </div>
    <script src="kiosk_controller.js"></script>
  </body>
</html>
