<html>
  <head>
    <title>AngularJS Example</title>
    <script src = "angular.min.js"></script>
  </head>
  <body ng-app = "">
    <nav class="{{show_box}}" ng-click="$event.preventDefaults()">
      <button href="#" ng-click="show_box=true">Find a Class</button>
      <br/>
      <button href="#" ng-click="show_box=true">Find a Service</button>
      <br/>
      <button href="#" ng-click="show_box=true">Find a Professor</button>
      <br/>
      <button href="#" ng-click="show_box=true">Order Food</button>
      <br/>
    </nav>
    <p ng-hide="show_box">Nothing clicked</p>
    <p ng-show="show_box"> Here is something clicked</p>
  </body>
</html>
